Lab exercises/q2.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="result">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="xsd:short" name="contestantId"/>
        <xsd:element type="xsd:string" name="examId"/>
        <xsd:element name="score">
         <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
           <xsd:minInclusive value="0"/>
           <xsd:maxInclusive value="100"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
        <xsd:element name="band">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:enumeration value="A"/>
           <xsd:enumeration value="B"/>
           <xsd:enumeration value="C"/>
           <xsd:enumeration value="D"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
        <xsd:element type="xsd:string" name="digitalSignature"/>
      </xsd:sequence>
      <xsd:attribute type="xsd:string" name="ref"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>